.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  background: #fff;
  border: #fff;
  border-radius: 0px;
  box-shadow: 12px 15px 20px 0 rgba(46,61,73,.15);
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #37bc9b;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background: #37bc9b;
    color: #fff;
}